{% extends "base.html" %}
{% load static %}
{% block content %}
    </style>
    <div class="container-fluid">
        <h2 class="text-center">Search for Trips</h2>
        <form class="d-flex justify-content-center flex-wrap" method="post" action="{% url 'search' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.from_location.id_for_label }}">From: </label>
                {{ form.from_location }}
            </div>
            <div class="form-group">
                <label for="{{ form.to_location.id_for_label }}">To:</label>
                {{ form.to_location }}
            </div>
            <div class="form-group">
                <label for="{{ form.number_of_adults.id_for_label }}">Nr. of Adults:</label>
                {{ form.number_of_adults }}
            </div>
            <div class="form-group">
                <label for="{{ form.number_of_children.id_for_label }}">Nr. of Children:</label>
                {{ form.number_of_children }}
            </div>
            <div class="form-group">
                <label for="{{ form.date_of_departure.id_for_label }}">Departure:</label>
                <input type="date" name="{{ form.date_of_departure.name }}"
                       id="{{ form.date_of_departure.id_for_label }}" value="{{ form.date_of_departure.value }}">
            </div>
            <div class="form-group">
                <label for="{{ form.return_date.id_for_label }}">Return:</label>
                <input type="date" name="{{ form.return_date.name }}" id="{{ form.return_date.id_for_label }}"
                       value="{{ form.return_date.value }}">
            </div>
            <div class="button-container">
                <button type="submit">Search</button>
            </div>
        </form>
    </div>
{% endblock %}