body {
    background-image: url('../../static/Images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-brand {
    margin-right: 20px;
}

.navbar-nav {
    margin-left: 50px;
}