.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.form-group {
  flex-basis: 20%;
  margin-right: 10px;
}

.button-container {
  flex-basis: 100%;
  margin-top: 10px;
}

button[type="submit"] {
  background-color: deepskyblue;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
}



